* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {

    overflow-x: hidden;
}

/*-----------------Header--------------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    z-index: 2;
    background-color: #fadac9;
}

li {
    position: relative;
    font-family: 'Montserrat', sans-serif;

}

li a {
    display: block;
    padding: 1vw 1vw;
    text-decoration: none;
}

/* unvisited link */
li a:link {
    color: #f25161;
}

/* visited link */
li a:visited {
    color: #f25161;
}

/* mouse over link */
li a:hover {
    color: #9c1623;
}

/* selected link */
li a:active {
    color: #f25161;
}

li a:hover:not(.active) {
    color: #9c1623;
}

#headerlogo {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    justify-self: flex-start;
    color: black;
    flex-grow: 1;
}

#headerlogo a:link,
#headerlogo a:visited,
#headerlogo a:hover,
#headerlogo a:active {

    color: black;
}

forside.html,
#forsidelink {
    text-decoration-line: underline;
    text-decoration-color: #f25161;
}

varer.html,
#varerlink {
    text-decoration-line: underline;
    text-decoration-color: #f25161;

}

about.html,
#aboutlink {
    text-decoration-line: underline;
    text-decoration-color: #f25161;
}

kontakt.html,
#kontaktlink {
    text-decoration-line: underline;
    text-decoration-color: #f25161;
}


/*------------------selve "om os" siden------------------------*/

html {
    height: 100%;
}

body {
    height: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    background: rgb(192, 216, 213);
    background: linear-gradient(0deg, rgba(192, 216, 213, 1) 0%, rgba(250, 218, 201, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

p {
    color: black;
    font-family: 'Castoro', serif;
    line-height: 1.6;
}

#p2 {
    margin: 0;
}

#topbox {
    position: relative;
    margin-top: 10vw;
}

img {}

#topbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5vw;
}


#bundbox {
    position: relative;
    margin-top: 10vw;
}

#bundbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5vw;
}

#bundbox p {
    text-align: right;
}

.box {
    display: flex;
    align-items: top;

}

/*---------------media-q.---------------------*/

@media (min-width: 950px) {
    #about {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1200px) {
    #about {
        margin-bottom: 10rem;
    }
}
