html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(192, 216, 213);
    background: linear-gradient(0deg, rgba(192, 216, 213, 1) 0%, rgba(250, 218, 201, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
}

main {
    margin-left: 10vw;
    margin-right: 10vw;
}

#produktboks,
img {
    width: 22.6vw;
    height: 16.950000000000003vw;
    background-size: cover;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

/*-----------------Header--------------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    z-index: 2;
    background-color: #fadac9;
    left: 0;
}

li {
    position: relative;
    font-family: 'Montserrat', sans-serif;

}

li a {
    display: block;
    padding: 1vw 1vw;
    text-decoration: none;
}

/* unvisited link */
li a:link {
    color: black;
}

/* visited link */
li a:visited {
    color: black;
}

/* mouse over link */
li a:hover {
    color: black;
}

/* selected link */
li a:active {
    color: black;
}

li a:hover:not(.active) {
    color: #f25161;
}

#headerlogo {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    justify-self: flex-start;
    color: black;
    flex-grow: 1;
}

#headerlogo a:link,
#headerlogo a:visited,
#headerlogo a:hover,
#headerlogo a:active {
    color: black;
}

.underline {
    color: black;
    position: relative;
    display: inline-block;
}

.underline::after {
    content: '';
    height: 2px;
    width: 44%;
    background: black;
    position: absolute;
    left: calc(39% - 10%);
    bottom: 0.8vw;
}

/*------------------Forside------------------*/

#baggrundsvideo {
    background-image: url(images/banner.jpg);
    width: 95vw;
    height: 38vw;
    background-size: cover;
    margin-top: 5vw;
}

#arrow {
    background-image: url(images/arrow.png);
    background-size: cover;
    width: 4vw;
    height: 4vw;
    margin-left: 47vw;
}

#velkommenboks {
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#velkommenright {
    margin-top: 11vw;
    text-align: right;
}

#produktboks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5vw;
    margin-top: 9vw;
    margin-bottom: 10vw;
}

/*#produktboks,
p {
    margin-bottom: 5vw;
}*/

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button {
    font-family: 'Montserrat', sans-serif;
    padding: 0.7vw;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

/*-------------------Collage------------------*/

#collage {
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr 1fr;
    grid-row-gap: 4vw;
    margin-left: 14vw;
    margin-top: 13vw;
}

#first {
    display: grid;
    grid-column-gap: 4vw;
    grid-template-columns: 1fr 3fr;
}

#first img {
    width: 32vw;
    height: 24vw;
}

#second {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#second img {
    width: 18vw;
    height: 13.5vw;
}

#third {
    display: grid;
    grid-column-gap: 4vw;
    grid-template-columns: 1fr 3fr;
}

#third p {
    text-align: right;
}

#third img {
    width: 32vw;
    height: 24vw;
}

#fourth {
    display: grid;
    grid-column-gap: 4vw;
    grid-template-columns: 1fr 1fr;
}

#fourth img {
    width: 28vw;
    height: 21vw;
}

/*------------------Footer------------------*/

footer {
    width: 100%;
    height: 10vw;
    background-color: #fadac9;
    color: black;
    display: block;
}
