* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(192, 216, 213);
    background: linear-gradient(0deg, rgba(192, 216, 213, 1) 0%, rgba(250, 218, 201, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
}

main {
    margin-left: 10vw;
    margin-right: 10vw;
}

#produkter,
img {
    width: 22.6vw;
    height: 16.950000000000003vw;
    background-size: cover;
    margin-top: 1vw;
    margin-bottom: -1vw;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 4vw;
    font-size: 2rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

/*---------------Produktgrid------------------*/

#produkter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 4vw;
}

#produkter a:link,
#produkter a:visited,
#produkter a:hover,
#produkter a:active {
    color: black;
}

#produkter a {
    text-decoration: none;
}

.button {
    font-family: 'Montserrat', sans-serif;
    padding: 0.7vw;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display: inline;
}

h3 {
    margin-bottom: 2vw;
}

.col {
    margin-bottom: 3vw;
}

/*-----------------Header--------------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    z-index: 2;
    background-color: #fadac9;
    left: 0;
}

li {
    position: relative;
    font-family: 'Montserrat', sans-serif;

}

li a {
    display: block;
    padding: 1vw 1vw;
    text-decoration: none;
}

/* unvisited link */
li a:link {
    color: black;
}

/* visited link */
li a:visited {
    color: black;
}

/* mouse over link */
li a:hover {
    color: black;
}

/* selected link */
li a:active {
    color: black;
}

li a:hover:not(.active) {
    color: #f25161;
}

#headerlogo {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    justify-self: flex-start;
    color: black;
    flex-grow: 1;
}

#headerlogo a:link,
#headerlogo a:visited,
#headerlogo a:hover,
#headerlogo a:active {
    color: black;
}

.underline {
    color: black;
    position: relative;
    display: inline-block;
}

.underline::after {
    content: '';
    height: 2px;
    width: 44%;
    background: black;
    position: absolute;
    left: calc(39% - 10%);
    bottom: 0.8vw;
}

/*------------------Footer------------------*/

footer {
    width: 100%;
    height: 15vw;
    color: black;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr 1fr;
    border-top-style: solid;
    border-top-width: 0.15vw;
    padding-top: 2vw;
    margin-top: 64vw;
}

#bundlogo {
    margin-left: 1vw;
    font-family: 'Montserrat', sans-serif;
}

#topkontakt {
    margin-top: 1.7vw;
    margin-bottom: 2vw;
    font-family: 'Montserrat', sans-serif;
}

#bundkontakt {
    font-family: 'Montserrat', sans-serif;
}

#medier {
    margin-top: 1.2vw;
    display: flex;
}

footer h2 {
    margin-top: 1.5vw;
    font-size: 2rem;
}

#facebook {
    background-image: url(images/facebook.webp);
    width: 5vw;
    height: 5vw;
    background-size: cover;
}

#follow {
    margin-top: 1.8vw;
    font-family: 'Montserrat', sans-serif;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
    color: black;
}

footer a {
    text-decoration: none;
}

/*------------------Media------------------*/

@media (max-width: 700px) {
    #produkter {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 4vw;
    }

    #produkter,
    img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    h2 {
        margin-top: 8vw;
    }

    footer {
        width: 100%;
        height: 15vw;
        color: black;
        display: grid;
        grid-template-columns: 1fr;
        border-top-style: solid;
        border-top-width: 0.15vw;
        padding-top: 2vw;
        margin-top: 7vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    #facebook {
        margin-top: 1.5vw;
    }

    .col {
        margin-bottom: 5vw;
    }

}
